.addMemo {
    height: 1rem;
    width: 98%;
    position: relative;
    transition: all .2s;
}

.addMemo::after {
    content: "+";
    position: absolute;
    left: 50%;
    top: 40%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    transition: opacity .2s;
    opacity: 0;
}

.addMemo:hover {
    background-color: #AAFFAA;
}

.addMemo:hover::after {
    opacity: 1;
}