.addMemo {
    height: 1rem;
    width: 98%;
    position: relative;
    transition: all .2s;
}

.addMemo::after {
    content: "➕";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #99999999;
    left: 50%;
    top: 50%;
    font-size: 0.75rem;
    transform: translate(-50%, -50%);
    transition: opacity .2s;
    opacity: 0;
    z-index: 1;
}

.addMemo:hover {
    background-color: #AAFFAA;
}

.addMemo:hover::after {
    opacity: 0.6;
}