.memo {
    box-sizing: border-box;
    padding: 20px;
    padding-left: 15px;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    height: max-content;
    position: relative;
    border: 1px solid rgba(128, 128, 128, 0.25);
    box-shadow: 0px 2px 4px -2px rgba(193, 193, 193, 0.50);
}

.memo label {
    font-size: 0.8rem;
    margin-left: 5px;
}

.delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background-color: #FF0000;
    opacity: 0.5;
    transition: opacity .2s;
}

.delete::before,
.delete::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 2px;
    background-color: white;
}

.delete::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.delete::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.delete:hover {
    opacity: 1;
}

.checkbox {
    width: 30px;
    align-self: stretch;
}

.maxcontent {
    width: 100%;
    color: inherit;
}

.datetime {
    font-family: inherit;
    color: inherit;
    font-size: 0.8rem;
    background-color: transparent;
    border: 0;
    margin-bottom: 3px;
}

.dummy {
    border: 0;
    background-color: transparent;
    font-size: 1rem;
    font-family: inherit;
    flex-grow: 1;
    position: relative;
    color: inherit;
    opacity: 1;
    white-space: pre-wrap;
    padding-left: 5px;
}

.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    font-size: 1rem;
    font-family: inherit;
    color: inherit;
    flex-grow: 1;
    padding-left: 5px;
    white-space: pre-wrap;
    resize: none;
}

.description:focus-visible {
    outline-width: 1px;
    outline-color: rgba(128, 128, 128, 0.5);
}

.color {
    border-color: rgba(128, 128, 128, 0.5);
    width: 20px;
}

.black::-webkit-calendar-picker-indicator {
    filter: invert(0%);
}

.white::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}